{% extends "customers/layout.html" %}

{% block title %}
    Customer Form
{% endblock %}

{% block content %}

  <h1>Customer Form</h1>
  
  <section>
      <form action="{{ url_for('customer_form')}}" method="GET">
  </section>
  <section>
      <form action="{{ url_for('submit_customer_form')}}" method="POST">
        <label for="id">Customer ID</label>
        <input id="customer id" name="customer_id" type="text" placeholder="eg:..Amazon">

        {# [WARN] customer type has a default to buisness in the customer class model #}
        <label for="customer_type">Customer Type</label>
        <select name="customer_type">
          <option value="invividual" id="customer_type" name="customer_type">Individual</option>
          <option value="business" id="customer_type" name="customer_type">Business</option>
        </select>
  
  </section>


{% endblock %}