{% extends "customers/layout.html" %}

{% block title %}
    Customers
{% endblock %}

{% block body %}
{% endblock %}

{% block content %}

<h1>Customers</h1>


{% if customers %}
<div>
    {% for customer in customers %}
        <div>
            {# print customer.name and customer_email in same row #}
            {{ customer.customer_name }}
            
            {{ customer.customer_email }}
        </div>
    {% endfor %}
</div>

{% else %}
<p>Fetched empty list. Customers unavailable.</p>
{% endif %}

{% endblock %}

