{% extends "customers/layout.html" %}

{% block title %}
    Customers Home Page
{% endblock %}


{% block actions %}
<a href="{{ url_for('customers.customer_form') }}">
    CREATE New Customer
</a>
{% endblock %}


{% block customer_content %}

{% if customers %}
<div>
    {% for customer in customers %}
        <div>
            {{ customer.customer_id }}
            {# print customer.name and customer_email in same row #}
            {{ customer.customer_name }}
            {{ customer.customer_email }}
        </div>
    {% endfor %}
</div>

{% else %}
<p>Fetched empty list. Customers unavailable.</p>
{% endif %}

{% endblock %}

