<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}
        {% endblock %}
        <meta name="description" content="customer layout">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
     
        <header>
            <h1>Admin Customers Management</h1>

            <nav>
                <h2>Customer Module:</h2>
            </nav>
        </header>

        {% block actions %}
            <div class="actions">
                {# usermixin uses current_user#}
                {% if current_user.is_authenticated %}
                    <form action="{{ url_for('auth.logout') }}" method="POST">
                        <button type="submit">Logout</button>
                    </form>
                {% endif %}
            </div>
        {% endblock %}

        <main>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class=flashes>
                        {% for message in messages %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <!-- list all customers from the /api/admin/customers route udner customers/inedx.html -->
            {% block customer_content %}
            {% endblock %}

        </main>
        
    </body>
</html>
